        /*
        font-color: #292929
        link-color-1: #910000
        background-color: #FCFCFC
        link-color-2 - #0A396B
        */
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #FCFCFC;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
    color: #292929;
}


/* ------------Hero Section---------- */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

.hero-content {
    max-width: 1200px;
    min-height: 800px;
    margin: 0 auto;
    width: 100%;
    padding: 80px 0;
}

.hero h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.75rem;
    margin-top: 0px;
    margin-bottom: 180px;
    font-weight: 400;
    color: #910000;
}

.profile-content {
    display: flex;
    align-items: center;
    gap: 50px;
}


.hero h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.2rem;
    line-height: 1.35;
    font-weight: 500;
    color: #292929;
}

.hero-content h3 {
    font-family: 'Space Grotesk', sans-serif;
    width: 70%;
    margin: 30px 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: #666;
    line-height: 1.6;
}

.hero span {
    font-weight: bold;
}

.profile-image {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    flex-shrink: 0;
}

/* ----------Main Content---------- */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 60px;
}

.section {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 100px;
    margin-bottom: 30px;
    padding: 40px 0;
}

.section-title {
    font-family: 'Space Grotesk', sans-serif;
    color: #910000;
    font-size: 1.2rem;
    font-weight: 600;
    position: sticky;
    top: 40px;
    align-self: start;
    text-align: right;
    letter-spacing: 1px;
}

.section-content {
    max-width: 1100px;
}

/* ----------Projects---------- */
.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 70px;
    align-items: start;
    padding-bottom: 70px;
}

.project:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.project-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-banner {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.2s ease;
}

.project-banner:hover {
    transform: scale(1.01);
}

.tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px 0;
}

.tool-name {
    margin-right: 20px;
    font-size: 0.8rem;
    color: #0A396B;
    font-weight: 600;
    letter-spacing: 0.4px;
    border-bottom: 1.5px solid #0A396B;
}

.project-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.project-title a {
    color: #292929;
}

.project-title a:hover{
    color: #910000;
}

.project-title a:active {
    color: #00965A;
}

.about-project {
    font-size: 0.95rem;
    line-height: 1.75;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about-project ul {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project-link {
    display: inline-block;
    margin-top: auto;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.95px;
    color:#910000;
    border-bottom: 2px solid #910000;
    width: fit-content;
    transition: all 0.2s ease;
}

.project-link:hover {
    color: #0A396B;
    border-bottom-color: #0A396B;
}

.project-link:active {
    color: #00965A;
    border-bottom-color: #FCFCFC;
}

/* ----------Skills Section---------- */
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
}

.skill-category h4 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 14px;
}

.skill-category ul {
    width: 175px;
    list-style: none;
}

.skill-category li {
    margin-bottom: 8px;
    position: relative;
    font-size: 0.95rem;
}

/* ----------Background Section----------- */
.background-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.background-content p {
    line-height: 1.8;
}

.resume {
    color: #910000;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 600;
    width: fit-content;
    border: 2px solid #0A396B;
    margin: 40px auto;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}


.resume:hover {
    color: #FCFCFC;
    background-color: #0A396B;
    border-color: #0A396B;
}

.resume:active {
    background-color: #00965A;
    border-color: #00965A;
}

/* ----------Project Page----------*/

/* -----Back Navigation----- */
.project-nav {
    padding: 30px 60px;
    transition: background-color 0.2s ease;
}

.back-link {
    color: #910000;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.2s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.back-link:hover {
    color: #FCFCFC;
}

.project-nav:has(.back-link:hover) {
    background-color: #292929;
}

.arrow {
    font-size: 2rem;
    display: inline-block;
}

.link-text {
    font-size: 1rem;
    padding-top: 2px;
    display: inline-block;
}


/* -----Project Header----- */
.project-header {
    padding-bottom: 10px;
    background-color: #FCFCFC;
}

.project-page-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: #292929;
    margin-bottom: 40px;
    text-align: center;
}

.project-meta {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.meta-block {
    text-align: center;
}

.meta-label {
    font-size: 0.875rem;
    font-weight: 700;
    color: #910000;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.meta-value {
    font-size: 1rem;
    color: #212121;
    font-weight: 500;
}

.meta-value a {
    color: #292929;
    border-bottom: 1px solid #292929;
}

.meta-value a:hover {
    color: #0A396B;
    font-weight: 600;
    border-bottom: 2px solid #0A396B;
}

.meta-value a:active {
    color: #00965A;
    border-bottom: none;
}

/* -----Project Content----- */
.project-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px;
}

.project-section {
    margin-bottom: 50px;
}

.section-heading {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #292929;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #0A396B;
}

.project-section p {
    line-height: 1.8;
    color: #444;
    margin-bottom: 15px;
}

/* -----Media Container----- */
.media-container {
    margin: 40px 0;
    text-align: center;
}

.project-media {
    width: 85%;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* -----Project Content List----- */
.content-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 35px;
}

.content-text {
    flex: 1;
    min-width: 0;
}

.content-block img, .content-block video {
    flex: 0 0 45%;
    width: 45%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
    
}

.content-block h3 {
    font-family: 'Space Grotesk', sans-serif;
    border-left: 3px solid #0A396B;
    padding-left: 10px;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.content-block p {
    padding-left: 20px;
    margin: 10px 0;
    font-weight: 600;
    font-style: italic;
}

.content-list {
    list-style: none;
    margin: 10px 5px 10px 25px;
    padding-left: 0;
}

.content-list li {
    padding-left: 25px;
    margin-bottom: 6px;
    position: relative;
    line-height: 1.7;
    color: #222;
    font-size: 0.95rem;
}

.content-list li:before {
    content: "▹";
    position: absolute;
    left: 0;
    color: #910000;
    font-weight: 500;
    font-size: 1rem;
}

.content-list a{
    color: #0A396B;
}

.content-list a:hover {
    color:#00965A;
}

/* -----Challenge Blocks----- */
.challenge-block {
    background-color: #f9f9f9;
    padding: 25px;
    margin-bottom: 20px;
}

.challenge-block h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #910000;
    margin-bottom: 12px;
}

.challenge-block p {
    margin-bottom: 10px;
    font-size: 0.95rem;
}

.challenge-block strong {
    color: #222;
    font-weight: 600;
}

/* Project Links */
.project-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}

.project-button {
    color: #910000;
    padding: 12px 30px;
    font-size: 0.9rem;
    font-weight: 700;
    border: 2px solid #0A396B;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
    letter-spacing: 1px;
}

.project-button:hover {
    color: #fff;
    background-color: #0A396B;
    border-color: #0A396B;
}

.project-button:active {
    background-color: #00965A;
    border-color: #00965A;
}

/* ----------Footer---------- */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-text {
    font-size: 0.85rem;
    font-weight: 500;
    padding: 20px 70px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    padding: 20px 70px;
}

.social-links a {
    color: #910000;
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid #FCFCFC;
    transition: all 0.2s ease;
    letter-spacing: 0.75px;
}

.social-links a:hover {
    color: #0A396B;
    border-bottom-color:#0A396B;
}

.social-links a:active {
    color: #00965A;
    border-bottom-color: #FCFCFC;
}

/* ---------Mobile------------*/
/* ----------Project Pages---------- */
@media (max-width: 768px) {
    .project-nav {
        padding: 20px 30px;
    }

    .project-header {
        padding: 60px 30px 40px;
    }

    .project-page-title {
        font-size: 2.5rem;
    }

    .project-meta {
        gap: 30px;
    }

    .project-container {
        padding: 40px 30px 80px;
    }

    .section-heading {
        font-size: 1.2rem;
    }

    .content-block {
        flex-direction: column;
        align-items: center;
    }

    .content-text {
        width: 100%;
    }

    .content-block img, .content-block video {
        width: 70%;
        height: auto;
    }

    .project-links {
        flex-direction: column;
    }

    .project-button {
        width: 100%;
    }
}

/* ----------Index Page---------- */
@media (max-width: 768px) {
    .hero {
        padding: 60px 30px;
        min-height: auto;
    }

    .hero-content {
        padding: 60px 0;
    }

    .hero h1 {
        font-size: 1.25rem;
        margin: 100px 0;
    }

    .hero h2 {
        font-size: 1.6rem;
    }

    .hero-content h3 { 
        font-size: 1rem;
        margin-top: 60px;
        width: 80%;
    }

    .profile-image {
        display: none;
    }

    .container {
        padding: 0 30px;
    }

    .section {
        grid-template-columns: 1fr;
        gap: 24px;
        margin-bottom: 40px;
        padding: 30px 0;
    }

    .section-title {
        position: static;
        text-align: left;
    }

    .project {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .skills-grid {
        gap: 30px 40px;
    }

    footer {
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer-text {
        padding: 10px 30px;
        text-align: center;
    }

    .social-links {
        flex-wrap: wrap;
        padding: 10px 30px;
        gap: 15px;
    }

    .social-links a{
        font-size: 0.75rem;
    }
}

/* Tablet spacing*/
@media (max-width: 1024px) and (min-width: 769px) {
    .hero {
        padding: 50px 40px;
    }
    
    .hero-content h3 { 
        font-size: 1rem;
        margin-top: 70px;
        width: 80%;
    }

    .profile-image {
        display: none;
    }

    .section {
        gap: 60px;
    }

    .project {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-text {
        text-align: center;
    }
}